
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif; /* Usar la fuente Roboto para el texto general */
}

.container {
    display: flex;
    height: 100vh; /* Esto asegura que el contenedor ocupe toda la altura de la pantalla */
}

.image-container {
    width: 537px;
    height: 841px;
    margin-top: 0%;
    margin-bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 600px;
    height: 120%;
}

.content-container {
    width: 496px;
    height: 456px;
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    max-width: 35%;
    margin-left: 300px;
    margin-top: 230px;
    margin-bottom: 100px;
    border-radius: 20px;
    box-shadow: -10px 10px 10px -5px rgba(0, 0, 0, 0.75); 
}

.welcome-text {
    font-weight: 200; /* Valor para una fuente extra ligera */
}
h6 {
    font-family: 'Montserrat', sans-serif; /* Usar la fuente Montserrat para los títulos */
    font-weight: 700; /* Puedes ajustar el peso de la fuente según necesites */
}

/* Estilos adicionales según necesites */
h1, form, .social-logins, p {
    margin-bottom: 20px;
}



/* Estilos adicionales según necesites */
.social-login {
    display: flex;
    align-items: center; /* Alinea verticalmente la imagen y el texto */
    justify-content: center; /* Alinea horizontalmente */
    padding: 10px 20px;
    border: 2px;
    background-color: transparent; /* Color de fondo de Google */
    color: #000000;
    cursor: pointer;
    border-radius: 5px;
    border-style: solid;
    border-color: #005954;
}



.social-login:hover {
    background-color: #005954; /* Color de fondo al pasar el mouse */
}

.enter{
    margin-bottom: 0px;
}


.linea-con-texto {
    display: flex;
    align-items: center;
}

.linea-horizontal {
    flex-grow: 1;
    border: 1px solid #005954;
    margin: 10px; 
    width: 150px;
    background-color: #000000;
}
form {
    display: flex;
    flex-direction: column;
    gap: 5px; 
    max-width: 500px; 
    border-radius: 8px;

}

input, button {
    padding: 10px;
    border: 2.5px solid #005954;
    border-radius: 5px;
    height: 36px;
}
button.login{
    margin-top: 30px;
}

label.enter{
    padding-top: 30px;
}

button {
    width: 390PX;
    height: 60px;
    background-color: #005954;
    color: white;
    cursor: pointer;
}

.sing{
    text-decoration: none;
    color: #005954;
}


